<div class="logo">
  <div class="align-items-center">
    <div class="ion-text-center">
      <img className="homeIMG" src="../../../../assets/Screenshot_2023-03-17_at_15.54.42-removebg-preview.png">
      <h1 class="headerFont">Realtime Tracking</h1>
      <p>Know your driver in advance and be
        able to view current location real
       on the map</p>
      <span class="fa fa-circle icon" [routerLink]="['/sign-up/ride']"></span>
      <span class="fa fa-circle icon1"></span>
      <span class="fa fa-circle icon" [routerLink]="['/sign-up/prom']"></span>
      <p>Skip</p>
    </div>
  </div>
</div>