.logo{
    margin-top: 80px;
    // width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerFont{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 47px;
    justify-content: center;

}
.icon1{
    color: #E76422;
    
}
.icon{
    color: #8b8c90;
}
p{
    padding: 10px;
}
.fa
{
    margin: 5px;
}