<div class="logo">
  <div class="align-items-center">
    <div class="ion-text-center">
      <img className="homeIMG" src="../../../../assets/Screenshot_2023-03-17_at_15.54.42-removebg-preview.png">
      <h1 class="headerFont">Earn Money</h1>
      <p>Give Rides to nearby by 
        passenger,use promo codes 
        & earn money.</p>
      <span class="fa fa-circle icon"></span>
      <span class="fa fa-circle icon" [routerLink]="['/sign-up/traking']"></span>
      <span class="fa fa-circle icon1"></span>
      <button class="getStarted" [routerLink]="['/sign-up/ride']">Get Started</button>
    </div>
  </div>
</div>