<div class="logo">
  <div class="align-items-center">
    <div class="ion-text-center">

      <div class="avatar">
        <div class="w-36 rounded">
          <img class="homeIMG" src="../../../../assets/Screenshot_2023-03-17_at_15.54.42-removebg-preview.png">
        </div>
      </div>
      <h1 class="headerFont">Sign up</h1>

      <form [formGroup]="registerForm">
        <div id="container">
            <ion-item fill="outline">
              <ion-label><ion-icon aria-hidden="true" name="person"></ion-icon></ion-label>
              <ion-input placeholder="Enter your fullname" formControlName="fullname"></ion-input>
            </ion-item><br>
            <ion-item fill="outline">
              <ion-label><ion-icon aria-hidden="true" name="call"></ion-icon></ion-label>
              <ion-input placeholder="Enter your phone" formControlName="phone"></ion-input>
            </ion-item><br>
            <ion-item fill="outline">
              <ion-label><ion-icon aria-hidden="true" name="mail"></ion-icon></ion-label>
              <ion-input placeholder="Enter your email" formControlName="email"></ion-input>
            </ion-item><br>
            <ion-item fill="outline">
              <ion-label><ion-icon aria-hidden="true" name="lock-closed"></ion-icon></ion-label>
              <ion-input placeholder="Enter your password" type="password" formControlName="password"></ion-input>
            </ion-item><br>
            <ion-item fill="outline">
              <ion-label><ion-icon aria-hidden="true" name="lock-closed"></ion-icon></ion-label>
              <ion-input placeholder="Confirm your password" type="password" formControlName="confirm_password"></ion-input>
            </ion-item><br>
        </div>
        <button id="getStarted"  (click)="register()" >Submit</button>
        </form>
      <p>Joined us before? <span [routerLink]="['/sign-in']" class="icon1">Login</span></p>
    </div>
  </div>
</div>
