.logo{
    margin: 5%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.homeIMG{
    width: 220px;
}

#getStarted{
    width: 333px;
    height: 44px;
    background: #E76422;
    border-radius: 15px;
    color: #ffffff;
    }

.headerFont{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    justify-content: center;
    color: #E76422;

}
.icon1{
    color: #E76422;
    
}

.icon{
    color: #8b8c90;
}

// #container {
//     text-align: center;
//     margin-top: 20px;
//     margin-bottom: 50px;
//   }