#booking-btn
{
    width: 333px;
    height: 44px;
    background: #E76422 !important;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}

#schedule-btn
{
    width: 333px;
    height: 44px;
    background: none !important;
    border-radius: 15px;
    color: gray;
    font-size: 18px;
    margin-top: 20px;
}