#search-container
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.available-card
{
    background-color: #ffffff;
    color: #000000;
}

#search-btn
{
    width: 333px;
    height: 44px;
    background: #E76422 !important;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}