#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
  }

  .headerFont{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    justify-content: center;
    color: #E76422;

}
