<ion-content [fullscreen]="true">
    <div id="container">
      <strong class="headerFont">Select your role</strong>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="card" [routerLink]="['/tab/rides']">
              <img alt="Silhouette of mountains" src="../../assets/608-6080012_animated-car-transparent-background-hd-png-download.png" />
              <ion-card-header>
                <ion-card-title>Give Ride</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card1" [routerLink]="['/tab/home/search-ride']">
              <img alt="Silhouette of mountains" src="../../assets/608-6080012_animated-car-transparent-background-hd-png-download.png" />
              <ion-card-header>
                <ion-card-title>Take Ride</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
</ion-content>
