<div class="logo">
  <div class="align-items-center">
    <div class="ion-text-center">
      <img className="homeIMG" src="../../../../assets/Screenshot_2023-03-17_at_15.54.42-removebg-preview.png">
      <h1 class="headerFont">Enable Location</h1>
      <p>Enable your location to start find the
        request around you.</p>
        <button class="getStarted" [routerLink]="['/auth/signup']">Use My Location</button>
      <p [routerLink]="['/auth/signup']">Skip For Now</p>
    </div>
  </div>
</div>