<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>


  <ion-grid class="logo">
    <ion-row class="ion-align-items-center ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <img className="homeIMG" src="../../assets/logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>

   <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h2><b>Going Somewhere?</b></h2>
        <p>Share your travel<br>cost with our<br>community</p>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <button class="getStarted" [routerLink]="['/auth/ride']">Get Started</button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
